.game-description {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .game-description h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
  }
  
  .game-description img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .game-description p {
    line-height: 1.5;
    margin-bottom: 10px;
  }